<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAb_Czx7dCtbkk1SMS06tTySysiJoh80I</string>
	<key>GCM_SENDER_ID</key>
	<string>651061950858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seymarslan.Bir-Esnaf</string>
	<key>PROJECT_ID</key>
	<string>bir-esnaf-32aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>bir-esnaf-32aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651061950858:ios:64316e056afd13b08eb073</string>
</dict>
</plist>